@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <span></span>
    <div class="center_grid_info">
        <img src="images/1.png" alt="" class="img-fluid">
    </div>
</div>
